*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-width: 100%;
   max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    margin-bottom: 100px;
}

.calculator{
    border: 1px double #abab12; /* good color for border*/
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(161, 159, 131, 0.5);
    justify-content: center;
    align-items: center;


}
.btn{
    color: yellow;
    background-color: #00000000;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.174);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 118, 127, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;

}
input::placeholder{
    color: #fff;

}
button{
    width: 60px;
    height: 60px;
    margin: 10px;

    background:transparent;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.402);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20%;
    }
.equalBtn{
    background-color: #fb7c14;
}
.operator{
    /* background-color: #fb7c14; */
    color: aquamarine;
}

